/* debugging */
/* *,
*::after,
*::before{
    border: 1px dotted rgb(212, 97, 97);
} */
/* debugging */

/* Structure */
#calculator{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
    width: 540px;
    padding: 12px;
}

#display{
    display: flex;
    flex-direction: column;
    flex: 2;
}
#inputSection{
    display: flex;
    flex-direction: column;
    flex: 4;
    margin-top: 48px;
}


#fullCalcDisplay,
#IOContainer{
    flex:3;
    font-size: 2rem;
    align-content: center;
    padding: 36px;
}

.row{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

button{
    /* flex:1; */
    margin: 12px;
    border-radius: 16px;
    width: 110px;
    height: 100px;
    
}

/* Structure */

/* Colors and Fonts */

button{
    font-size: 2rem;
    font-weight: bold;
    color: white;

}

#calculator{
    background-color: #C1C3C8;
}

#IOContainer, #fullCalcDisplay{
    background-color: white;
    color:#454855
}

.number{
    background-color: #454855;
}

.operator{
    background-color: #3F7D20;
}

.function{
    background-color: #72B91D;
}

/* Colors and Fonts */